.project {
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center!important;
}

.project2 {
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center!important;
  margin-top: 1em;
}

.info {
  margin-bottom: 2em;
  text-align: center;
}
