<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Bauhaus Manifesto</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>This is a student project (with a thick layer of dust!) yet, it's still close to my heart. I geek out about design history, and totally love every page of this energetic, typographic ode to the Bauhaus Modernism movement. </p>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web1.jpg" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web2.jpg" data-aos="slide-up" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web3.jpg" data-aos="slide-up" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web4.jpg" data-aos="slide-up" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web5.jpg" data-aos="slide-up" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web6.jpg" data-aos="slide-up" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web7.jpg" data-aos="slide-up" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhaus/bauhaus_web8.jpg" data-aos="slide-up" alt="Bauhaus Manifesto">
    </div>
  </div>
  <div class="row" data-aos="slide-up">


    <div class="col workPages text-center" style="color:rgb(171, 170, 172); padding:10px 10px; display:inline-block;">

      <span><a class='pages' href="/jensjars">Jen's Jars: Visual Identity</a></span>
      <span><a class='pages' href="/surescripts-brandguide">Surescripts: Brand Guide</a></span>
      <span><a class='pages' href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a></span>
      <span><a class='pages' href="/solsounds">Sol Sounds Records: Logo & Identity</a></span>
      <span><a class='pages' href="/surescripts-brandnarrative">Surescripts: Brand Narrative</a></span>
      <span><a class='pages' href="/yogagurus">Yoga Gurus</a></span>
      <span><a class='pages' href="/foundforage">Found Forage: Mobile Site</a></span>
      <!-- <span><a class='pages' href="/bauhausmanifesto">Bauhaus Manifesto</a></span> -->
      <span><a class='pages' href="/play">Play: Misc Illustrations</a></span>

    </div>
  </div>
</div>
