<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Bauhaus Manifesto</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>This is a student project (with a thick layer of dust!) yet, it's still close to my heart. I geek out about design history, and totally love every page of this energetic, typographic ode to the Bauhaus Modernism movement. </p>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/bauhuas/bauhaus_3-adjusted.jpg" alt="Bauhaus Manifesto">
    </div>
  </div>
</div>
