<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Found Forage Mobile Site</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>Over the summer, I worked with <a class='strikethrough' href="www.brettmiller.me">Brett Miller</a> (my favorite web developer and fun-gi) on this useful mobile site for foragers. Found Forage enables users to upload photos, notes and mark exact
        locations of various wild edibles and non-edibles. With Found Forage, you can easily find that same patch of delicious Chicken of the Woods—year after year. </p>
      <p>
        The logo has an illustrated morel, which is the mushroom equivalent to gold for us foragers. I also helped with color palate and overall styling of the site. </p>

    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <img class="image img-fluid" src='images/foundforage/ff_mockup_1.jpg' alt="Found Forage Mock Up">
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="image img-fluid" src='images/foundforage/ff_main_909x394.png' alt="Found Forage Header">
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="image img-fluid" src='images/foundforage/ff_mockup2.jpg' alt="Found Forage Mock Up 2">
  </div>
</div>
