<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Found Forage: Mobile Site</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>Over the summer, I worked with <a class='strikethrough' href="http://www.brettmiller.me/">Brett Miller</a> (my favorite web developer and fun-guy) on this useful mobile site for foragers. Found Forage enables users to upload photos, notes and mark
        exact locations of various wild edibles and non-edibles. With Found Forage, you can easily find that same patch of delicious Chicken of the Woods—year after year. </p>
      <p>
        The logo has an illustrated morel, which is the mushroom equivalent to gold for us foragers. I also helped with color palate and overall styling of the site. </p>

    </div>
  </div>


  <div class="row">
    <div class="col">
      <img class="image img-fluid" src='images/foundforage/ff_mockup_1.jpg' alt="Found Forage Mock Up">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="image img-fluid" src='images/ff_main_new.png' data-aos="slide-up" alt="Found Forage Header">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="image img-fluid" src='images/foundforage/ff_mockup2.jpg' data-aos="slide-up" alt="Found Forage Mock Up 2">
    </div>
  </div>
  <div class="row" data-aos="slide-up">


    <div class="col workPages text-center" style="color:rgb(171, 170, 172); padding:10px 10px; display:inline-block;">

      <span><a class='pages' href="/surescripts-brandguide">Surescripts: Brand Guide</a></span>
      <span><a class='pages' href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a></span>
      <span><a class='pages' href="/solsounds">Sol Sounds Records: Logo & Identity</a></span>
      <span><a class='pages' href="/surescripts-brandnarrative">Surescripts: Brand Narrative</a></span>
      <span><a class='pages' href="/yogagurus">Yoga Gurus</a></span>
      <!-- <span><a class='pages' href="/foundforage">Found Forage: Mobile Site</a></span> -->
      <span><a class='pages' href="/bauhausmanifesto">Bauhaus Manifesto</a></span>
      <span><a class='pages' href="/play">Play: Misc Illustrations</a></span>

    </div>
  </div>
</div>
