<div class="container-fluid">
        <div class="row justify-content-center">
          <h1 class='project'>Jen's Jars: <br>Visual Identity</h1>
        </div>
        <div class="row justify-content-lg-center">
          <div class="col-12 col-lg-8 col-md-12 info">
      
      
            <p>I had the pleasure of working with Minnetonka based business owner, Jen Alexander, on the branding of her plant-based soups and spreads, i.e. Jen’s Jars. Jen is on a mission to make healthy, real food that is equal parts nutritious, convenient, and delicious. Jen wanted a handcrafted, bountiful, playful and lush look her her brand. I designed a branding package that included her logotype, brand illustrations, labels and signage for her markets and in-store demos. You can find these flirty little jars on the shelves at Lakewinds co-op locations and seasonally at many of Minneapolis’ farmers markets.</p>
      
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class='image img-fluid' src="images/jj_main.jpg" alt="Jens Jars">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class='image img-fluid' src="images/jensjars/JJ_img2.png" data-aos="slide-up" alt="Jens Jars">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class='image img-fluid' src="images/jensjars/jj_styleguide.jpg" data-aos="slide-up" alt="Jens Jars">
          </div>
        </div>
      
        <!-- <div class="mx-0">
          <h1 class='project2'>Additional Concepts</h1>
        </div> -->
        <div class="row">
      
            <div class="col">
              <img class='image img-fluid' src="images/jensjars/jj_img3.jpg" data-aos="slide-up" alt="Jens Jars">
            </div>
        
          </div>
        <div class="row">
      
          <div class="col">
            <img class='image img-fluid' src="images/jensjars/jj_logo-circle.jpg" data-aos="slide-up" alt="Jens Jars">
          </div>
      
        </div>
        <div class="row" data-aos="slide-up">
      
      
          <div class="col workPages text-center" style="color:rgb(171, 170, 172); padding:10px 10px; display:inline-block;">
      
            <!-- <span><a class='pages' href="/jensjars">Jen's Jars: Visual Identity</a></span> -->
            <span><a class='pages' href="/surescripts-brandguide">Surescripts: Brand Guide</a></span>
            <span><a class='pages' href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a></span>
            <span><a class='pages' href="/solsounds">Sol Sounds Records: Logo & Identity</a></span>
            <span><a class='pages' href="/surescripts-brandnarrative">Surescripts: Brand Narrative</a></span>
            <span><a class='pages' href="/yogagurus">Yoga Gurus</a></span>
            <span><a class='pages' href="/foundforage">Found Forage: Mobile Site</a></span>
            <span><a class='pages' href="/bauhausmanifesto">Bauhaus Manifesto</a></span>
            <span><a class='pages' href="/play">Play: Misc Illustrations</a></span>
      
          </div>
        </div>
      
      </div>