<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Play: Misc. Illustrations</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <!-- <p>Shortly after I came on board, the Surescripts in-house creative team enlisted me to help evolve their branding. Here you’ll see few of the many layouts I created for Surescripts’ comprehensive brand guide. I worked closely with the creative director
        and senior marketing copywriter to develop content for this widely distributed brand guide.</p>

      <p>The goal was to differentiate Surescripts in the healthcare IT market, and elevate the look of their brand, without doing a total overhaul. We did so with trendy duotone effects, fun and emotive lifestyle imagery, contemporary monoline illustrations
        and pairing Univers, a sturdy and robust condensed typeface, with Gotham—which the company has been using in their branding for years.</p> -->
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/illustrations/illustration_2.png" alt="Play 1">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/illustrations/illustration_3.png" alt="Play 2">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/illustrations/illustration_4.gif" alt="Play 3">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/illustrations/illustration_5.png" alt="Play 4">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/illustrations/illustration_1.png" alt="Play 5">
    </div>
  </div>
</div>
