<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Sol Sounds Records: <br>Logo + Identity</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>I had the pleasure of working on a logo and identity for a start-up, independent record label out in L.A.</p>

      <p>The label has an international vibe, and work with musicians that are passionate about "handmade" sounds—meaning music made by human hands and physical instruments, as opposed to computers or machines. The logo also nods to the energy of the sun,
        and the shape of a record. </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_1.png" alt="Sol Sounds 1">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_2b.png" data-aos="slide-up" alt="Sol Sounds 2">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_3.png" data-aos="slide-up" alt="Sol Sounds 3">
    </div>
  </div>

  <div class="mx-0">
    <h1 class='project2'>Additional Concepts</h1>
  </div>
  <div class="row">

    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_4.png" data-aos="slide-up" alt="Sol Sounds 4">
    </div>

  </div>
  <div class="row" data-aos="slide-up">


    <div class="col workPages text-center" style="color:rgb(171, 170, 172); padding:10px 10px; display:inline-block;">

      <span><a class='pages' href="/jensjars">Jen's Jars: Visual Identity</a></span>
      <span><a class='pages' href="/surescripts-brandguide">Surescripts: Brand Guide</a></span>
      <span><a class='pages' href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a></span>
      <!-- <span><a class='pages' href="/solsounds">Sol Sounds Records: Logo & Identity</a></span> -->
      <span><a class='pages' href="/surescripts-brandnarrative">Surescripts: Brand Narrative</a></span>
      <span><a class='pages' href="/yogagurus">Yoga Gurus</a></span>
      <span><a class='pages' href="/foundforage">Found Forage: Mobile Site</a></span>
      <span><a class='pages' href="/bauhausmanifesto">Bauhaus Manifesto</a></span>
      <span><a class='pages' href="/play">Play: Misc Illustrations</a></span>

    </div>
  </div>

</div>
