<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Sol Sounds Records: <br>Logo + Identity</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>Last year I had the pleasure of working on a logo and identity for a start-up, independent record label out in L.A.</p>

      <p>The label has an international vibe, and work with musicians that are passionate about "handmade" sounds—meaning music made by human hands and physical instruments, as opposed to computers or machines. The logo also nods to the energy of the sun,
        and the shape of a record. </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_1.png" alt="Sol Sounds 1">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_2b.png" data-aos="slide-up" alt="Sol Sounds 2">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_3.png" data-aos="slide-up" alt="Sol Sounds 3">
    </div>
  </div>

  <div class="mx-0">
    <h1 class='project2'>Additional Concepts</h1>
  </div>
  <div class="row">

    <div class="col">
      <img class='image img-fluid' src="images/solsounds/solsounds_4.png" data-aos="slide-up" alt="Sol Sounds 4">
    </div>

  </div>

</div>
