<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Surescripts: Brand Narrative</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_cv2.jpg" alt="SS Brand Narratve 1">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_spread1b.jpg" data-aos="slide-up" alt="SS Brand Narratve 2">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_spread2a.jpg" data-aos="slide-up" alt="SS Brand Narratve 3">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_spread3a.jpg" data-aos="slide-up" alt="SS Brand Narratve 4">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_spread4a.jpg" data-aos="slide-up" alt="SS Brand Narratve 5">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_spread4b.jpg" data-aos="slide-up" alt="SS Brand Narratve 6">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_spread5a.jpg" data-aos="slide-up" alt="SS Brand Narratve 7">
    </div>
  </div>
  <div class="row" data-aos="slide-up">


    <div class="col workPages text-center" style="color:rgb(171, 170, 172); padding:10px 10px; display:inline-block;">

      <span><a class='pages' href="/jensjars">Jen's Jars: Visual Identity</a></span>
      <span><a class='pages' href="/surescripts-brandguide">Surescripts: Brand Guide</a></span>
      <span><a class='pages' href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a></span>
      <span><a class='pages' href="/solsounds">Sol Sounds Records: Logo & Identity</a></span>
      <!-- <span><a class='pages' href="/surescripts-brandnarrative">Surescripts: Brand Narrative</a></span> -->
      <span><a class='pages' href="/yogagurus">Yoga Gurus</a></span>
      <span><a class='pages' href="/foundforage">Found Forage: Mobile Site</a></span>
      <span><a class='pages' href="/bauhausmanifesto">Bauhaus Manifesto</a></span>
      <span><a class='pages' href="/play">Play: Misc Illustrations</a></span>

    </div>
  </div>
</div>
