<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Brand Guide for Surescripts</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>Shortly after I came on board, the Surescripts in-house creative team enlisted me to help evolve their branding. Here you’ll see few of the many layouts I created for Surescripts’ comprehensive brand guide. I worked closely with the creative director
        and senior marketing copywriter to develop content for this widely distributed brand guide.</p>

      <p>The goal was to differentiate Surescripts in the healthcare IT market, and elevate the look of their brand, without doing a total overhaul. We did so with trendy duotone effects, fun and emotive lifestyle imagery, contemporary monoline illustrations
        and pairing Univers, a sturdy and robust condensed typeface, with Gotham—which the company has been using in their branding for years.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/surescripts2/ss_brandguide_web_1.jpg" alt="Brandguide Mock Up 1">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/surescripts2/ss_brandguide_web_2.png" data-aos="slide-up" alt="Brandguide Mock Up 2">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/surescripts2/ss_brandguide_web_3.jpg" data-aos="slide-up" alt="Brandguide Mock Up 3">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/surescripts2/ss_brandguide_web_4.jpg" data-aos="slide-up" alt="Brandguide Mock Up 4">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/surescripts2/ss_brandguide_web_5.png" data-aos="slide-up" alt="Brandguide Mock Up 5">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/surescripts2/ss_brandguide_web_6.jpg" data-aos="slide-up" alt="Brandguide Mock Up 6">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/surescripts2/ss_brandguide_web_7.png" data-aos="slide-up" alt="Brandguide Mock Up 7">
    </div>
  </div>


  <!-- <div class="workPages">
    <a href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a>
    <a href="/surescripts-brandguide">Brand Guide for Surescripts</a>
  </div> -->


</div>
