<div class="container-fluid">
  <div class="row justify-content-center">
    <h2 class='project'>Yoga Center: Quartly Catalog</h2>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>While working at Yoga Center (YCM) I coordinated with program directors and teachers to put together and distribute a comprehensive 32-page quarterly booklet of all YCM offerings and events. It mindfully organized all of our upcoming classes, workshops,
        specialty trainings and events into one easy-to-follow publication. Complete with full page ads for our bigger trainings like the midwest’s premiere 1000-Hour Yoga Therapy program, visiting instructors, studio open houses, and boutique sales.
        It was mailed to around 7,000 yogis and distributed around the twin cities metro. </p>

      <p>From pagination to photoshoots and cover art, this was always one of my favorite projects to work on.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogacatalog/ycm_catalog_mockups1.jpg" alt="Yoga Catalog Mock Up 1">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogacatalog/ycm_catalog_mockups2.jpg" data-aos="slide-up" alt="Yoga Catalog Mock Up 2">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogacatalog/ycm_catalog_mockups3.jpg" data-aos="slide-up" alt="Yoga Catalog Mock Up 3">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogacatalog/ycm_catalog_mockups4.jpg" data-aos="slide-up" alt="Yoga Catalog Mock Up 4">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogacatalog/ycm_catalog_mockups5.jpg" data-aos="slide-up" alt="Yoga Catalog Mock Up 5">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogacatalog/ycm_catalog_mockups6.jpg" data-aos="slide-up" alt="Yoga Catalog Mock Up 6">
    </div>
  </div>
  <div class="row" data-aos="slide-up">


    <div class="col workPages text-center" style="color:rgb(171, 170, 172); padding:10px 10px; display:inline-block;">

      <span><a class='pages' href="/surescripts-brandguide">Surescripts: Brand Guide</a></span>
      <!-- <span><a class='pages' href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a></span> -->
      <span><a class='pages' href="/solsounds">Sol Sounds Records: Logo & Identity</a></span>
      <span><a class='pages' href="/surescripts-brandnarrative">Surescripts: Brand Narrative</a></span>
      <span><a class='pages' href="/yogagurus">Yoga Gurus</a></span>
      <span><a class='pages' href="/foundforage">Found Forage: Mobile Site</a></span>
      <span><a class='pages' href="/bauhausmanifesto">Bauhaus Manifesto</a></span>
      <span><a class='pages' href="/play">Play: Misc Illustrations</a></span>

    </div>
  </div>
</div>
