<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Yoga Gurus</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>This was a self-initiated project that started from a doodle in my yoga teacher training notes. I illustrated a few of the fellas responsible for bringing yoga to the west. They're pretty incredible dudes, who've inspired many mind/body/souls.</p>

      <p>Oh, and I paired them with an inspiring quote—because you gotta, right?</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_web_1.png" alt="Patthabi Jois">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_web_2.png" data-aos="slide-up" alt="Yogi Bhajan">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_web_3.png" data-aos="slide-up" alt="Yoga Nanda">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_4.png" data-aos="slide-up" alt="Yoga Gurus">
    </div>
  </div>
  <div class="row" data-aos="slide-up">


    <div class="col workPages text-center" style="color:rgb(171, 170, 172); padding:10px 10px; display:inline-block;">

      <span><a class='pages' href="/surescripts-brandguide">Surescripts: Brand Guide</a></span>
      <span><a class='pages' href="/yogacenter-catalog">Yoga Center: Quarterly Catalog</a></span>
      <span><a class='pages' href="/solsounds">Sol Sounds Records: Logo & Identity</a></span>
      <span><a class='pages' href="/surescripts-brandnarrative">Surescripts: Brand Narrative</a></span>
      <!-- <span><a class='pages' href="/yogagurus">Yoga Gurus</a></span> -->
      <span><a class='pages' href="/foundforage">Found Forage: Mobile Site</a></span>
      <span><a class='pages' href="/bauhausmanifesto">Bauhaus Manifesto</a></span>
      <span><a class='pages' href="/play">Play: Misc Illustrations</a></span>

    </div>
  </div>
</div>
