<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class='project'>Yoga Gurus</h1>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 col-md-12 info">


      <p>This was a self-initiated project that started from a doodle in my yoga teacher training notes. I illustrated a few of the fellas responsible for bringing yoga to the west. They're pretty incredible dudes, who've inspired many mind/body/souls.</p>

      <p>Oh, and I paired them with an inspiring quote—because you gotta, right?</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_web_1.png" alt="Patthabi Jois">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_web_2.png" alt="Yogi Bhajan">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_web_3.png" alt="Yoga Nanda">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class='image img-fluid' src="images/yogaguru/gurus_4.png" alt="Yoga Gurus">
    </div>
  </div>
</div>
