              /*.myPic {
                width: 100%;
                margin-left: 60px;
              }

              @media (min-width: 768px) and (max-width: 991px) {
                .me {
                  width: 100%;
                }
                .myPic {
                  margin-left: 0;
                  width: 100%;
                }
              }*/

              .me {
                width: 100%;
              }

              .about1 {
                font-weight: 700;
                padding-top: 50px;
                padding-left: 30px;
                text-align: left;
                /*font-size: 36px;
                line-height: 40px;*/
              }

              .about2 {
                font-weight: 300;
                padding: 0 30px;
                text-align: left;
                /*font-size: 22px;
                line-height: 29px;*/
              }

              .about3 {
                padding-top: 50px;
                /*font-size: 26px;*/
                font-weight: 700;
              }

              .about4 {
                padding-top: 50px;
                padding-left: 30px;
                /*font-size: 26px;*/
                font-weight: 700;
              }

              .about5 {
                padding-left: 30px;
              }

              p.about5 {
                color: rgb(171, 170, 172);
              }
