              /*.myPic {
                width: 100%;
                margin-left: 60px;
              }

              @media (min-width: 768px) and (max-width: 991px) {
                .me {
                  width: 100%;
                }
                .myPic {
                  margin-left: 0;
                  width: 100%;
                }
              }*/

              .me {
                width: 100%;
              }

              .about1 {
                font-weight: bold;
                letter-spacing: 1.5px;
              }

              .about2 {
                font-weight: 300;
                letter-spacing: 1.5px;
              }

              .about3 {
                padding-top: 50px;
              }

              .skills {
                font-size: 22px;
                font-weight: 400;
              }
