.contact {
  width: 70%;
}

input {
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

textarea {
  width: 100%;
  resize: none;
}

.submit {
  background-color: transparent;
  border: 1px solid black!important;
  margin-top: 3%;
  padding: 20px;
  align-items: center;
}

.submit:hover {
  background-color: black;
  border: 1px solid white!important;
  color: white;
}

.send {
  text-align: left;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.contactMessage {
  text-align: left;
}
