.contact {
  width: 70%;
}

input {
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

textarea {
  width: 100%;
  resize: none;
}

.submit {
  background-color: transparent;
  border: 1px solid black!important;
  margin-top: 3%;
  padding: 20px;
  align-items: center;
}

.submit:hover {
  background-color: black;
  border: 1px solid white!important;
  color: white;
}

.send {
  text-align: left;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.contactMessage {
  text-align: left;
}

.vex-dialog-button-primary.vex-dialog-button.vex-first {
  text-align: center!important;
  /*display: block!important;
  margin: 0 auto!important;*/
  /*margin-right: 33% !important;*/
  margin-right: 30%!important;
  /*margin-left: 50% !important;*/
}

.vex {
  width: 100%;
  height: auto;
}

.vex-content {
  text-align: center!important;
  font-family: "brandon-grotesque", sans-serif!important;
  font-weight: 700!important;
  font-size: 32px!important;
  width: 80%!important;
}
