.navbar {
  background-color: white !important;
}

.nav-item {
  text-align: center;
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

footer {
  /*background-color: purple!important;*/
  text-align: center;
}

.links {
  padding: 5px 8px;
  margin: 1%;
}

.links:hover {
  opacity: 0.5;
}

.logoGif {
  display: inline-block;
}

.cpyr {
  padding-top: 20px;
  color: rgb(171, 170, 172);
  /*text-align: center;*/
}

.brett {
  font-size: 14px;
  color: rgb(171, 170, 172);
}
