.navbar {
  background-color: transparent !important;
  margin-top: -8em;
  margin-bottom: 8em;
}

.nav-item {
  text-align: center;
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.navbar-toggler {
  margin-top: 2em!important;
}

.logo {
  height: 50%!important;
  width: 50%!important;
  margin: auto!important;
}

.gifLogo {
  display: inline;
  height: 50%!important;
  width: 50%!important;
}

footer {
  /*background-color: purple!important;*/
  text-align: center;
}

.links {
  padding: 5px 8px;
  margin: 1%;
}

.links:hover {
  opacity: 0.5;
}

.cpyr {
  padding-top: 20px;
  color: rgb(171, 170, 172);
  /*text-align: center;*/
}

.brett {
  color: rgb(171, 170, 172);
}


/*a.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #bcee66;
  text-underline-position: below;
  transition: 0.8s;
}

a.nav-link {
  position: relative;
  display: block;
  cursor: pointer;
}

a.nav-link:before, .nav-item:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #bcee66;
}

a.nav-link:before {
  left: -.5px;
}

a.nav-link:after {
  right: .5px;
  background: #bcee66;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.nav-link:hover:before {
  background: #bcee66;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.nav-link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}*/
