<!-- <div class="container-fluid">
  <div class="row">
    <div class="myPic">
      <img src="images/IMG_2650 (1).JPG" class="col-lg-4 col-md-12 col-sm-12 me" alt="Becca Neely Photo">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>Greetings! I’m a graphic designer,
illustrator, artist and yoga teacher living
in Minneapolis. It’s so nice to meet you.</h2>
    </div>






  </div>
</div> -->


<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-12">
      <img class='me' src="images/IMG_2650 (1).JPG" alt="Picture of Becca Neely">
    </div>

    <div class="col-lg-6 col-md-12">
      <h2 class=about1>Greetings! I’m an artist and designer living in Minneapolis.</h2>
      <br>
      <h3 class='about2'>After nearly a decade of in-house creative work, I stepped out on my own to wholeheartedly run my art + design business. I work analog as much as I work digitally these days, incorporating hand-crafted design elements whenever the opportunity presents itself. I’m a problem solver, an initiator, and all-around enthusiastic about visual communication. I enjoy working both independently and collaboratively. </h3>
      <br>
      <h3 class='about2'>Outside of work, you’ll likely find me: on a meditation cushion, making a mess in the kitchen, or lost in the woods.”</h3>
    </div>

  </div>



  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h2 class='about3'>Skills</h2>
      <ul class='list-unstyled skills'>
        <li>Adobe Creative Suite CC</li>
        <li>HTML/CSS</li>
        <li>Publication design</li>
        <li>Marketing collateral (ads, brochures, social media)</li>
        <li>Art direction</li>
        <li>Illustration</li>
        <li>Typographic layouts</li>
        <li>Lettering</li>
        <li>Packaging</li>
        <li>Social media</li>
        <li>Trade show and booth/exhibit graphics</li>
        <li>Signage</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6">
      <h2 class='about4'>Education</h2>
      <ul class='list-unstyled skills about5'>
        <p><b>Drake University</b>, Des Moines IA
          <p>
            <li>BA Graphic Design</li>
            <li>BAJMC Creative Advertising</li>

      </ul>
      <p class="about5">2006–2010</p>
    </div>
  </div>
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-3 col-sm-6">



      </div>
    </div>
  </div>
</div>
