<div class="container-fluid ">
    <div class="row no-gutters">
        <div class="row no-gutters">
            <div class="col cont">
              <a href="/jensjars"><img class='image img-fluid' src="images/jj_main.jpg" alt="jens jars">
              <div class="middle">
                <div class="text">Jen's Jars: Visual Identity</div></a>
            </div>
          </div>
  <div class="row no-gutters">
    <div class="col-lg-6 col-md-12 col-sm-12 cont">
      <a href="/surescripts-brandguide"><img class='image img-fluid' src="images/ss_brandguide_main.gif" alt="Surescripts Brand Guide">
      <div class="middle">
        <div class="text">Surescripts: Brand Guide</div></a>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 cont">
    <a href="/yogacenter-catalog"><img class='image img-fluid' src="/images/yogacenter_catalog_792x594.jpg" alt="Yoga Center Catalog">
      <div class="middle">
        <div class="text">Yoga Center: Quarterly Catalog</div></a>
  </div>
</div>



</div>
<div class="row no-gutters">
  <div class="col cont">
    <a href="/solsounds"><img class='image img-fluid' src="images/solsounds/solsounds_1.png" alt="Sol Sounds Logo">
    <div class="middle">
      <div class="text">Sol Sounds Records: Logo & Identity</div></a>
  </div>
</div>
</div>
<div class="row no-gutters">
  <div class="col-lg-6 col-md-12 col-sm-12 cont">
    <a href="/surescripts-brandnarrative"><img class='image img-fluid' src="images/ssbrandnarrative/ss_narrative_spread3a.jpg" alt="Surescripts Brand Narrative">
    <div class="middle">
      <div class="text">Surescripts: Brand Narrative</div></a>
  </div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 cont">
  <a href="/yogagurus"><img class='image img-fluid' src="images/gurus_main.gif" alt="Yoga Gurus">
  <div class="middle">
    <div class="text">Yoga Gurus</div></a>
</div>
</div>
</div>
<div class="row no-gutters">
  <div class="col cont">
    <a href="/foundforage"><img class='image img-fluid' src="images/ff_main_new.png" alt="Found Forage Logo">
    <div class="middle">
      <div class="text">Found Forage: Mobile Site</div></a>
  </div>
</div>
</div>
<div class="row no-gutters">
  <div class="col-lg-6 col-md-12 col-sm-12 cont">
    <a href="/bauhausmanifesto"><img class='image img-fluid' src="images/bauhaus/bauhaus_web1.jpg" alt="Bauhaus Design">
    <div class="middle">
      <div class="text">Bauhaus Manifesto</div></a>
  </div>
</div>

<div class="col-lg-6 col-md-12 col-sm-12 cont cont">
  <a href="/play"><img class='image img-fluid' src="images/illustration_main.png" alt="Play">
    <div class="middle">
      <div class="text">Play</div></a>
</div>
</div>
</div>


<!-- end of container -->
</div>
